* {
    font-family: 'Times New Roman';
}

.watermark {
   position: absolute;
   left: 7mm;
   top: 21mm;
   width: 75mm;
   opacity: 0.1;
}

.orderNo {
  width: 100%;
  text-align: right;
  padding-bottom: 1mm;
  font-size: 12pt;
  font-weight: bold;
}
.no-border{
  border: unset;
}

.full-border{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.orderNo:empty {
  display: none;
}

.headerSubTitle {
  font-family: 'Equestria', 'Permanent Marker', cursive;
  text-align: center;
  font-size: 12pt;
}
.headerSubTitleNormal {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
}

.headerTitle {
  font-family: 'Equestria', 'Permanent Marker', cursive;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
}

#location {
  margin-top: 5pt;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}
.judul {
  margin-top: 5pt;
  text-align: center;
  font-size:14pt;
  font-weight: bold;
}

#date {
  margin: 5pt 0px;
  text-align: center;
  font-size: 8pt;
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
    text-align: left;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: left;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: left;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 320px;
    max-width: 320px;
    border: solid 1px black;
    padding: 10px;
}
.ticket_dua {
    width: 550px;
    max-width: 550px;
    padding: 10px;
}
.ticket_tiga {
    width: 650px;
    max-width: 550px;
    padding: 10px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

.flex {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#qrcode {
  align-self: center;
  flex: 0 0 100px
}

.totals {
  flex-grow: 1;
  align-self: center;
  font-size: 8pt;
}

.totals .row {
  display: flex;
  text-align: right;
}

.totals .section {
  padding-top: 2mm;
}

.totalRow > div, .total > div {
  text-align: right;
  align-items: baseline;
  font-size: 8pt;
}

.totals .col1 {
  text-align: right;
  flex-grow: 1;
}

.totals .col2 {
   width: 22mm; 
}

.totals .col2:empty {
  display: none;
}

.totals .col3 {
  width: 15mm;  
}